/* Allgemeines Styling */

body {
    background-color: #f1ecd6;
    font-family: Helvetica Now Text;
    color: yellow;
}

h1 {
    display: block;
    text-align: center;
    color: #552207;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

p {
    font-size: 40px;
    text-align: center;
    color: #552207;
}



img {
    width: 300px;
}

.video {
    width: 400px;
    height: 220px
}

.smalltext {
    font-size: 20px;

}

.image-container {
    width: 300px;
}

.zweiterblablabla {
    width: 300px;
}

.wrapperallesss { 
    display:flex; 
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
}

.grumpy {
    font-size: 20px;
    text-align: center;
    color: #552207;
}

.dritterblablabla {
    width: 300px;
}

.kiki {
    font-size: 20px;
    text-align: center;
    color: #552207;
}

.cuisson {
    font-size: 20px;
    text-align: center;
    color: #552207;
}

.video-container {
    width: 560px;
    height: 315px;
    display:flex; 
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
}